:root {
    /* background color site */
    --light-background-color: #ffffff;
    --accent-background-color: #3DB370;
    --accent-background-color-10: rgba(61, 179, 112, 0.1);
    --dark-background-color: #16133D;
    --medium-background-color: #EFEEF3;
    --dark-background-color-10: rgba(21, 101, 216, 0.1);
    --gray-line-background-color: #E5EAF4;

    /* text color */
    --dark-text-color: #16133D;
    --medium-text-color: #7690A8;
    --light-text-color: #ffffff;
    --accent-text-color: #3DB370;

    /* icon color */
    --icon-color: #0D0D0D;
}

/* font family */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-semi-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.quicksand-medium {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    }

.nunito-sans-semi-bold {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    }

/* base styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    color: var(--dark-text-color);
    background: var(--light-background-color);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.section {
    padding: 50px 0;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
}

/* header styles */
.header{
    padding: 22px 0;
    background-color: var(--light-background-color);
    border-bottom: 1px solid var(--medium-background-color);
}
.header-container{
    display: flex;
    align-items: center;
    gap: 14px;
}
.icon-logo{
    width: 32px;
    height: 32px;
}
.logo{
    color: var(--dark-text-color);
    font-size: 35px;
}

/* services styles */
.services{
    padding: 100px 0;
    background-color: var(--light-background-color);
}
.services-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.services-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.services-text{
    text-transform: uppercase;
    color: var(--medium-text-color);
}
.services-title{
    color: var(--dark-text-color);
    font-size: 40px;
}
.services-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}
.services-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    border: 1px solid var(--gray-line-background-color);
    border-radius: 8px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
}
.services-item-icon{
    width: 64px;
    height: 64px;
    border: 1px solid var(--dark-background-color-10);
    border-radius: 16px;
    padding: 14px 0;
}
.services-icon{
    width: 39px;
    height: 39px;
}
.services-item-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.services-item-title{
    color: var(--dark-text-color);
    font-size: 24px;
}
.services-item-description{
    color: var(--dark-text-color);
    font-size: 16px;
    text-align: start;
}
.services-item-button{
    color: var(--accent-text-color);
    font-size: 16px;
    background-color: var(--light-background-color);
}

/* footer styles */
.footer{
    padding: 40px 0;
    background-color: var(--dark-background-color);
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.footer-logo{
    color: var(--light-text-color);
}
.footer-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.footer-item{
    width: 38px;
    height: 38px;
    background-color:  var(--medium-background-color);
    border-radius: 5px;
    padding: 9px;
    color: var(--icon-color);
}
.footer-item:nth-child(2){
    padding: 9px 14px;
}
.footer-item:hover{
    color: var(--accent-text-color);
    box-shadow: 2px 4px 8px rgba(239, 238, 243, 0.3);
    background-color: var(--gray-line-background-color);
}
.footer-icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
